body { 
    /*background: url('../images/starter-background.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden*/
}

.login-container {
    display: none; /*ta bort sen*/
}

.heading-info {
    position: absolute;
    top: 15%;
    left: 25%
}

.login-form {
    position: absolute;
    top: 50%;
    left: 40%;
}

.main-content {
    display: block; /*Ska vara none från början*/
    padding: 0px;
}

.travel-heading {
    text-align: center;
    background: url('../images/travel.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    height: 75vh;
}

.travel-heading-text-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 25%;
    background-color: #000;
    opacity: 0.5;
}

.travel-heading-text {
    color: #ffffff;
    opacity: 1;
    padding-top: 15%;
    padding-bottom: 15%;
}