body { 
    /*background: url('../images/starter-background.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    overflow-x: hidden;
    background-color: #4290D0;    
    color: #ffffff;
}

h2 {
    text-align: center;
}

p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 1.5em;
}


.login-container {
    display: none; /*ta bort sen*/
}

.heading-info {
    position: absolute;
    top: 15%;
    left: 25%
}

.login-form {
    position: absolute;
    top: 50%;
    left: 40%;
}

/*====================================================================================================*/

.main-content {
    display: block; /*Ska vara none från början*/
}

.content {
    margin-bottom: 5%; 
    margin-top: 1%;
}

.travel-heading {
    text-align: center;
   /* background: url('../images/travel.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;*/   
}

.heading-img {
    width: 100%;
    height: auto;
}

.travel-heading-text-container {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 40%;
    background-color: #000;
    opacity: 0.7;
}

.travel-heading-text {
    color: #ffffff;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.travel-img {
    max-height: 600px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);      
}

.img-container {
    padding: 1%;
    padding-left: 2%;
}

.board-img {
   max-height: 200px;
}

.why-chose {
    background-color: #4290D0;
}

.why-img {
    width: 100%;
    height: 100%;
}

.why-chose-heading {
    text-align: center;
}

.why-chose-heading-text {
    color: #ffffff;    
    opacity: 1;
}

.activity-list {
    padding-left: 15%;
}

.activity-item {
    font-size: 1.3em;
}



@media screen and (min-width: 480px) {
    .heading-img {
        height: 100vh;
    }
    .img-container {
        padding: 0%;
    }
    
}

@media screen and (min-width: 359px) {
    
    .travel-heading-text {
        padding: 1%;
    }
    .img-container {
        padding: 0%;
    }
}