body { 
    /*background: url('../images/starter-background.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    overflow-x: hidden;
    background-color: #4290D0;    
    color: #ffffff;
}

h2 {
    text-align: center;
}

p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 1.5em;
}


.login-container {
    display: none; /*ta bort sen*/
}

.heading-info {
    position: absolute;
    top: 15%;
    left: 25%
}

.login-form {
    position: absolute;
    top: 50%;
    left: 40%;
}

/*====================================================================================================*/

.main-content {
    display: block; /*Ska vara none från början*/
    padding: 0px;
}

.content {
    margin-top: 5%; 
}

.travel-heading {
    text-align: center;
   /* background: url('../images/travel.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;*/   
}

.heading-img {
    width: 100%;
    height: auto;
}

.travel-heading-text-container {
    width: 101%;
    position: absolute;
    margin: 0 auto;
    margin-top: 20%;
    background-color: #000;
    opacity: 0.7;
}

.travel-heading-text {
    color: #ffffff;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.travel-img {
    max-height: 600px;
}

.why-chose {
    background-color: #4290D0;
    
}

.why-img {
    width: 100%;
}

.why-chose-heading {
    text-align: center;
}

.why-chose-heading-text {
    color: #ffffff;    
    opacity: 1;
}


.activity-list {
    padding-left: 15%;
}

.activity-item {
    font-size: 1.3em;
}



@media screen and (min-width: 480px) {
    .heading-img {
        height: 100vh;
    }
}